.idea/
venv/
keys/
src/keys
.ipynb*
*.ipynb
celerybeat-schedule
src/celerybeat-schedule

__pycache__
*.pyc
*.env

*.py[cod]
*$py.class

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache/
__zoom_s2s_oauth.dat
